section.albuns {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h2 {
    font-size: 40px;
    color: #000000;
    margin-top: 100px;
    font-weight: 900;
    line-height: 1.2;
    // letter-spacing: 0.02em;
  }

  p.lead {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  h2,
  p.lead {
    text-align: center;
  }

  a.btn-web-player {
    background-color: transparent;
    box-shadow: 0 0 0 2px #616467;
    color: #616467;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 70px;
    border-radius: 500px;
    padding: 12px 52px;
    transition: 0.2s;

    &:hover {
      transition: 0.2s;
      color: white;
      background-color: #616467;
    }
  }

  .piscotify-albuns {
    max-width: 1170px !important;
    ul {
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 14px 0;

        img {
          width: 320px;
          height: 320px;
          margin-bottom: 12px;

          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
          transition: 0.5s !important;

          &:hover {
            transition: 0.5s !important;
            transform: translateY(-3px) !important;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
          }
        }

        p.artist-element {
          margin-top: 5px;
          font-size: 1.2em;
          font-weight: bold;
        }
      }
 }
  }
}
