$header-background-color: rgba(0, 0, 0, 0.6);
$header-color-hover: #2d46b9;
$spacing-li: 10px;
$transform-size: 574px;

header {
  background-color: $header-background-color;
  padding: 5px 0;

  nav {
    display: flex !important;
    align-items: flex-end !important;
    justify-content: space-between !important;
    margin: 0 auto;
    max-width: 1170px !important;

    a img {
      filter: brightness(0) invert(1);
    }

 
    ul {
      li {
        a {
          margin: 0 $spacing-li;
          padding: 0 $spacing-li;
          cursor: pointer;

          font-size: 16px;

          font-weight: 700;
          color: white !important;

          &:hover {
            color: $header-color-hover !important;
          }
        }

        button {
          background-color: transparent;
          border: none;
          outline-offset: 0;

          img {
            display: inline-block;
            border-radius: 50%;
            max-height: 42px;
          }

          span {
            color: white;
            margin-left: 10px;
            margin-right: 16px;
            font-weight: bold;
            color: white !important;
          }
          
          &:focus{
            outline: none;
          }

          &:hover {
            span {
              color: $header-color-hover !important;
            }
          }
        }


        @media screen and (min-width: $transform-size){
          &:last-child {
            &::before {
              content: "|";
              color: white;
              padding-right: $spacing-li;
              margin-right: $spacing-li;
              display: inline-block;
            }
          }
        }
       
      }
    }
  }
}
