$header-background-color: rgba(0, 0, 0, 0.6);
$header-color-hover: #2d46b9;

header {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  background-color: $header-background-color;
  padding: 0 !important;
  height: 80px;


  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center ;
    width: 1170px !important;
    height: 100%;
    padding: 0 15px;

    a {
      img {
        max-height: 42px;
        filter: brightness(0) invert(1);
      }
    }

    $spacing: 10px;

    form {
      a {
        margin: 0 $spacing;
        padding: 0 $spacing;

        cursor: pointer;

        font-weight: bold;
        color: white !important;

        &:hover {
          color: $header-color-hover !important;
        }
      }

      button {
        background-color: transparent;
        border: none;

        img {
          display: inline-block;
          border-radius: 50%;
          max-height: 42px;
        }

        span {
          color: white;
          margin-left: 10px;
          margin-right: 16px;
          font-weight: bold;
          color: white !important;
        }

        &:hover {
          span {
            color: $header-color-hover !important;
          }
        }

        &::before {
          content: "|";
          color: white;
          padding-right: $spacing;
          margin-right: $spacing;
          display: inline-block;
        }
      }
    }
  }
}
